## Code for Analyzing Anthology Metadata

In [1]:
##########
# Imports
##########
from __future__ import division
import os
import codecs
import re
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import sys
import math

In [2]:
#read in the data to do some manipulation
df = pd.read_excel(r'C:\Users\Hoyt\Dropbox\CodeDataForBook\Chapter2\Data\CompleteMetadata_Ver3.xlsx', sheetname='Sheet1',)
df.shape

(596979, 13)

# Some Pre-Processing Steps

In [3]:
#need to convert any integers in the "main_title" column to strings
df['main_title'] = df['main_title'].map(lambda x: str(x) if type(x) == int else x)

In [38]:
#functions to help convert years to integers
#need to run this after you load the data
def strip_non_ascii(string):
    ''' Returns the string without non ASCII characters'''
    stripped = (c for c in string if 0 < ord(c) < 127)
    return ''.join(stripped)

def num_converter(number):
    #num = re.sub(ur'\u5b9d\u6587\u9928\u51fa\u7248', '', num)
    if pd.isnull(number):
        return 0
    num = strip_non_ascii(number)
    num = re.sub(r'p.*', '', num)
    if num != '':
        num = (int(num.encode('utf-8')))
        return num
    else:
        return 0

#convert years to integers
df['year'] = df['year'].map(lambda x: num_converter(x))
df['year'][0]

1987

In [4]:
#sanity check to make sure we converted to integers
df[df['year']==1948].shape

(219, 13)

In [40]:
#get counts for author_type
df.groupby('author_type').size().sort_values(ascending=False)

author_type
Poet           293715
Writer         192421
Critic          53004
Unknown         29915
Philosopher     16460
Dramatist        8568
Painter          2745
Translator        151
dtype: int64

In [25]:
#eliminate the "unknown" entries, since the zenshu_type label is unreliable here
#df = df[df['author_type']!='Unknown']
#get counts for zenshu_type
df.groupby('genre').size().sort_values(ascending=False)

genre
Fiction    189967
dtype: int64

# Get Counts by Zenshu Type

In [4]:
#calculate the total number of unique zenshu
df['title_pub'] = df.zenshu_short_title + df.publisher
print(df.groupby('title_pub').size().sort_values(ascending=False).shape[0])
#There are 1,168 unique zenshu
author_df = df[df['zenshu_type']=='Author']
general_df = df[df['zenshu_type']=='General']
print(author_df.groupby('title_pub').size().sort_values(ascending=False).shape[0])
print(general_df.groupby('title_pub').size().sort_values(ascending=False).shape[0])

1255
1022
234

# Filter on "Fiction" and "General" anthologies

In [5]:
#filter on the "fiction" category
all_fiction = df[df['genre']=='Fiction']
all_fiction['title_pub'] = all_fiction.zenshu_short_title + all_fiction.publisher

#replace NaNs with an empty string and create new column that merges title and main_title
#all_fiction = all_fiction.replace(np.nan, '', regex=True)
#all_fiction['full_title'] = all_fiction.title + all_fiction.main_title

all_fiction.shape

C:\Users\Hoyt\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

(189765, 14)

In [6]:
#now filter on the zenshu_type, to exclude author zenshu
gen_fiction = all_fiction[all_fiction['zenshu_type']=='General']
gen_fiction.shape

(38358, 14)

In [7]:
kojin_fiction = all_fiction[all_fiction['zenshu_type']=='Author']
kojin_fiction.shape

(151407, 14)

# Code for working with all data

In [8]:
#get counts for zenshu_type
all_fiction.groupby('zenshu_type').size().sort_values(ascending=False)

zenshu_type
Author     151407
General     38358
dtype: int64

In [10]:
#select by years to get frequency counts for a specific period
some_fiction = gen_fiction[(gen_fiction['year'] >= 1920) & (gen_fiction['year'] < 1960)]

#examine the top titles for all years
top_titles = some_fiction.groupby(['author', 'title']).size().sort_values(ascending=False)
top_titles = pd.DataFrame(top_titles)
top_titles = top_titles.reset_index()
top_titles.columns = ['author', 'title', 'count']
top_titles[0:20]
#top_titles.shape

   author      title  count
0    川端康成      伊豆の踊子     10
1     菊池寛     恩讐の彼方に     10
2     菊池寛     忠直卿行状記     10
3    島崎藤村          嵐      9
4   芥川龍之介      奉教人の死      9
5   芥川龍之介        地獄変      9
6   芥川龍之介  きりしとほろ上人伝      8
7   芥川龍之介       トロッコ      8
8    志賀直哉         和解      8
9   芥川龍之介          秋      8
10  芥川龍之介       玄鶴山房      8
11  芥川龍之介          鼻      8
12  芥川龍之介        枯野抄      8
13  芥川龍之介         歯車      8
14   夏目漱石      坊っちゃん      8
15  芥川龍之介     六の宮の姫君      8
16  芥川龍之介        蜃気楼      8
17  芥川龍之介        羅生門      8
18    森鴎外       山椒大夫      7
19    森鴎外     うたかたの記      7

In [12]:
#examine the top authors for select years
top_auth = gen_fiction.groupby(['author']).size().sort_values(ascending=False)
top_auth = pd.DataFrame(top_auth)
top_auth = top_auth.reset_index()
top_auth.columns = ['author', 'count']
top_auth[0:20]

    author  count
0    芥川龍之介   1283
1     志賀直哉    838
2      森鴎外    821
3    国木田独歩    694
4      太宰治    658
5     川端康成    587
6     井伏鱒二    522
7     島崎藤村    483
8      堀辰雄    473
9      井上靖    443
10    樋口一葉    432
11    永井荷風    408
12    正宗白鳥    403
13     泉鏡花    401
14     菊池寛    367
15   谷崎潤一郎    362
16  武者小路実篤    345
17    夏目漱石    334
18    徳田秋声    318
19     石川淳    310

# Output Results

In [16]:
import xlsxwriter
import openpyxl
writer = pd.ExcelWriter(r'TopAuthorMetrics.xlsx', engine='xlsxwriter')
top_auth.to_excel(writer, sheet_name='Sheet1')
writer.save()

# Calculate Alternate Measures for Titles

In [ ]:
top_titles = gen_fiction.groupby(['author', 'title']).size().sort_values(ascending=False)
top_titles = pd.DataFrame(top_titles)
top_titles = top_titles.reset_index()
top_titles.columns = ['author', 'title', 'count']

#normalize the count of titles by the number of years since first publication
#do this for the top 3000 titles
normalized = []
intensity = []
first_pubs = []
last_pubs = []

for i in top_titles.index[0:3000]:
    #select on title and author to avoid problem of duplicate titles by different authors
    first_pub = int(gen_fiction[(gen_fiction['author']==top_titles.ix[i]['author']) & (gen_fiction['title']==top_titles.ix[i]['title'])].year.min())
    last_pub = int(gen_fiction[(gen_fiction['author']==top_titles.ix[i]['author']) & (gen_fiction['title']==top_titles.ix[i]['title'])].year.max())
    if last_pub - first_pub == 0:
        normalized.append(0)
        intensity.append(0)
    else:
        normalized_ratio = top_titles.ix[i]['count'] / (2004 - first_pub)
        intensity_ratio = top_titles.ix[i]['count'] / (last_pub - first_pub) 
        
        normalized.append(normalized_ratio)
        intensity.append(intensity_ratio)
        first_pubs.append(first_pub)
        last_pubs.append(last_pub)

top_3K = top_titles[0:3000]
top_3K['normalized'] = pd.Series(normalized).values
top_3K['intensity'] = pd.Series(intensity).values
top_3K['first_publication'] = pd.Series(first_pubs).values
top_3K['last_publication'] = pd.Series(last_pubs).values
#top_3K = top_3K.sort_values(by='normalized', ascending=False) 
#top_3K[0:50]

In [10]:
top_3K.sort_values(by='normalized', ascending=False)[0:20]

,author,title,count,normalized,intensity,first_publication,last_publication
3,大岡昇平,野火,29,0.568627,0.743590,1953,1992
11,大岡昇平,俘虜記,27,0.509434,0.818182,1951,1984
21,永井荷風,[zA272]東綺譚,25,0.480769,0.595238,1952,1994
60,吉行淳之介,驟雨,22,0.478261,0.594595,1958,1995
38,梅崎春生,桜島,23,0.460000,0.575000,1954,1994
82,安岡章太郎,ガラスの靴,20,0.454545,0.571429,1960,1995
29,川端康成,雪国,24,0.436364,0.648649,1949,1986
61,志賀直哉,灰色の月,22,0.431373,0.468085,1953,2000
32,堀辰雄,風立ちぬ,24,0.428571,0.545455,1948,1992
133,安岡章太郎,海辺の光景,18,0.428571,0.720000,1962,1987
125,大岡昇平,花影,18,0.428571,0.720000,1962,1987
42,太宰治,人間失格,23,0.425926,0.638889,1950,1986
39,太宰治,ヴィヨンの妻,23,0.425926,0.560976,1950,1991
37,太宰治,桜桃,23,0.418182,0.450980,1949,2000
53,堀辰雄,菜穂子,22,0.415094,0.594595,1951,1988
75,芥川龍之介,大導寺信輔の半生,21,0.411765,0.617647,1953,1987
112,遠藤周作,海と毒薬,18,0.409091,0.750000,1960,1984
55,太宰治,斜陽,22,0.407407,0.611111,1950,1986
92,石原慎太郎,太陽の季節,19,0.404255,0.612903,1957,1988
68,堀辰雄,聖家族,21,0.403846,0.583333,1952,1988

# Calculate Author Metrics

In [ ]:
#calculate h_index and m_index for top 200 most prolific authors
h_indexes = []
m_indexes = []

#get the names of top 250 authors
top_250_list = top_auth.author[0:250].tolist()
top_250_df = top_auth[0:250]

for author in top_250_list:
    #create author dataframe
    one_auth = gen_fiction[gen_fiction['author']==author]
    #get unique titles sorted in decreasing order of number of times published
    titles = one_auth.groupby(['author', 'title']).size().sort_values(ascending=False)
    titles = pd.DataFrame(titles)
    titles = titles.reset_index()
    titles.columns = ['author', 'title', 'count']

    #calculate number of years between first publication and 2004 (publication of this dataset)
    n = 2004 - int(one_auth.year.min())

    #calculate h-index and m-index
    h_index = 0
    for i in titles.index:
        if titles.ix[i]['count'] >= i:
            h_index = i
        else:
            break

    #for authors with an h_index less than 1, assign 0
    if h_index == 1:
        m_index = 0
    else:
        m_index = h_index / n       
    
    #store in list
    h_indexes.append(h_index)
    m_indexes.append(m_index)
    
#merge these indexes with the top_250 dataframe and sort
top_250_df['h_index'] = pd.Series(h_indexes).values
top_250_df['m_index'] = pd.Series(m_indexes).values

In [15]:
top_250_df.sort_values(by='h_index', ascending=False)[0:50]

    author  count  h_index   m_index
0    芥川龍之介   1283       21  0.265823
1     志賀直哉    838       16  0.205128
3    国木田独歩    694       15  0.194805
2      森鴎外    821       14  0.184211
20   梶井基次郎    298       13  0.209677
4      太宰治    658       11  0.200000
6     井伏鱒二    522       11  0.152778
8      堀辰雄    473       11  0.152778
12    正宗白鳥    403       10  0.126582
15   谷崎潤一郎    362       10  0.128205
14     菊池寛    367       10  0.126582
11    永井荷風    408       10  0.129870
10    樋口一葉    432       10  0.129870
21    横光利一    297       10  0.133333
17    夏目漱石    334        9  0.116883
18    徳田秋声    318        9  0.113924
5     川端康成    587        9  0.120000
22    永井龍男    296        8  0.153846
26    坂口安吾    275        8  0.145455
40   平林たい子    212        8  0.106667
25    幸田露伴    283        8  0.103896
44    梅崎春生    209        8  0.150943
49   武田麟太郎    193        8  0.109589
16  武者小路実篤    345        8  0.101266
7     島崎藤村    483        8  0.101266
9      井上靖    443        8  0.156863
19     石川淳    310        7  0.127273
36    大岡昇平    221        7  0.132075
46   安岡章太郎    207        7  0.152174
45   吉行淳之介    209        7  0.152174
50    佐藤春夫    191        7  0.089744
63    牧野信一    156        7  0.093333
52    広津和郎    188        7  0.093333
76     中島敦    135        7  0.125000
38    島尾敏雄    217        7  0.152174
61    葛西善蔵    157        7  0.093333
35    有島武郎    222        7  0.090909
65   岡本かの子    151        7  0.109375
34    田宮虎彦    222        7  0.140000
33   江戸川乱歩    225        7  0.090909
85    中野重治    121        7  0.127273
87    嘉村礒多    119        7  0.097222
30    田山花袋    233        7  0.089744
29    中山義秀    237        7  0.127273
60   大江健三郎    158        7  0.159091
27    尾崎一雄    263        7  0.127273
13     泉鏡花    401        7  0.088608
24   三島由紀夫    283        7  0.132075
92   織田作之助    114        6  0.107143
69    椎名麟三    141        6  0.113208

In [54]:
import xlsxwriter
import openpyxl
writer = pd.ExcelWriter(r'TopAuthors.xlsx', engine='xlsxwriter')
top_250_df.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [21]:
#get a list of top writers by year from 1925 to 2004
top_authors = {'year': [], 'author': [], 'no. of titles': [], 'all titles':[], 'percent of all titles': []}

i = 1950
while i != 2004:
    total = gen_fiction[gen_fiction['year']== i].shape[0]
    top = gen_fiction[gen_fiction['year']== i].groupby(['author']).size().sort_values(ascending=False)
    #print i, top.index[0], '%02.2f' % (top[0]/total)
    top_authors['year'].append(i)
    top_authors['author'].append(top.index[0])
    top_authors['no. of titles'].append(top[0])
    top_authors['percent of all titles'].append(str(int((100*(top[0]/total))))+'%')
    top_authors['all titles'].append(total)
    
    if i == 1943:
        i = 1946
    else:
        i+=1
        
top_df = DataFrame(top_authors, columns=['year', 'author', 'no. of titles', 'all titles', 'percent of all titles'])
top_df

    year  author  no. of titles  all titles percent of all titles
0   1950    野村胡堂             36         395                    9%
1   1951    志賀直哉             15         147                   10%
2   1952    幸田露伴             13         236                    5%
3   1953   芥川龍之介            177         976                   18%
4   1954    志賀直哉             41         633                    6%
5   1955   武田麟太郎             32         574                    5%
6   1956   国木田独歩             45         413                   10%
7   1957    徳田秋声             21         374                    5%
8   1958  久保田万太郎             91         573                   15%
9   1959     上林暁             47         482                    9%
10  1960   芥川龍之介             71         723                    9%
11  1961   芥川龍之介             52         621                    8%
12  1962     堀辰雄             80         842                    9%
13  1963   芥川龍之介            102         651                   15%
14  1964   梶井基次郎             40         603                    6%
15  1965    山路愛山             48         767                    6%
16  1966    斎藤緑雨             94        1248                    7%
17  1967     森鴎外            105        1371                    7%
18  1968    志賀直哉             96        1611                    5%
19  1969     太宰治             81        1813                    4%
20  1970   芥川龍之介             83        1241                    6%
21  1971     森鴎外             72         837                    8%
22  1972    樋口一葉             81         769                   10%
23  1973   芥川龍之介             84        2737                    3%
24  1974   国木田独歩             63         397                   15%
25  1975   芥川龍之介             44         247                   17%
26  1976   梶井基次郎             36         553                    6%
27  1977    正宗白鳥             27         344                    7%
28  1978   柴田錬三郎             29         444                    6%
29  1979     太宰治             23         353                    6%
30  1980     陸羯南             33         306                   10%
31  1981    森田思軒             30         312                    9%
32  1982    島崎藤村             10         157                    6%
33  1983    大田洋子             23         141                   16%
34  1984    黒島伝治             24         241                    9%
35  1985    坂口安吾             24         480                    5%
36  1986    久生十蘭             34         145                   23%
37  1987     井上靖             72         782                    9%
38  1988     伊藤整            127         933                   13%
39  1989    中野重治             38         555                    6%
40  1990     檀一雄             16         346                    4%
41  1991    島崎藤村             65         698                    9%
42  1992   池波正太郎            108         787                   13%
43  1993    白井喬二             22         439                    5%
44  1994   芥川龍之介             18         572                    3%
45  1995    杉森久英             30         626                    4%
46  1996     太宰治            166         768                   21%
47  1997    平岩弓枝              9         139                    6%
48  1998    佐藤愛子             21         375                    5%
49  1999    真杉静枝             27         295                    9%
50  2000    宇野千代             72         778                    9%
51  2001    譲原昌子             41         247                   16%
52  2002   小酒井不木             30         138                   21%
53  2003    蘭郁二郎             22          67                   32%

In [132]:
import xlsxwriter
import openpyxl
writer = pd.ExcelWriter(r'TopAuthorsByYear.xlsx', engine='xlsxwriter')
top_df.to_excel(writer, sheet_name='Sheet1')
writer.save()